/* Whole document: */
body{
  font-family: Times New Roman;
  font-size: 12pt;
  line-height: 1.5;
  margin:2.5;
}
/* Headers */
h1{
  font-family: Times New Roman;
  font-size: 26pt;
}
h2{
  font-size: 24pt;
}
h3{
  font-size: 22pt;
}
h4{
  font-size: 20pt;
}
h5{
  font-size: 18pt;
}
h6{
  font-size: 16pt;
}

h1.title {
  font-size: 38px;
  text-align: center;
}
h4.author { /* Header 4 - and the author and data headers use this too  */
    font-size: 20px;
  font-family: "Times New Roman";
  text-align: center;
}
h4.date { /* Header 4 - and the author and data headers use this too  */
  font-size: 20px;
  font-family: "Times New Roman";
  text-align: center;
}